<ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list" *ngFor="let item of appMenuList">
        <ion-list-header>
          
          <ion-label color="medium" >{{ item.name }}</ion-label>
        </ion-list-header>
  
        <ion-menu-toggle
          auto-hide="false"
          *ngFor="let p of item.menus; let i = index; let last = last;">
          <ion-item 
            routerDirection="root"
            [routerLink]="[p.url]"          
            detail="false"
            [lines]="(last) ? 'none':''">
            <ion-icon
              slot="start"
              [ios]="p.icon + '-outline'"
              [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  