<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form #f="ngForm" *ngIf="userProfile">
    <ion-grid>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                {{ userProfileTitle }}
              </ion-card-title>
            </ion-card-header>
            <ion-img src="../../assets/images/user.jpg"></ion-img>
          </ion-card>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">FirstName</ion-label>
            <ion-input
              type="text"
              name="firstName"
              [(ngModel)]="userProfile.firstName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">LastName</ion-label>
            <ion-input
              type="text"
              name="lastName"
              [(ngModel)]="userProfile.lastName"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input
              type="text"
              name="email"
              [(ngModel)]="userProfile.email"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Gender</ion-label>
            <ion-select name="gender" [(ngModel)]="userProfile.gender">
              <ion-select-option [value]="Gender.Male"
                >{{ Gender.Male }}</ion-select-option
              >
              <ion-select-option [value]="Gender.Female"
                >{{ Gender.Female }}</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-label position="floating">Mobile</ion-label>
            <ion-input
              type="text"
              name="mobile"
              [(ngModel)]="userProfile.mobile"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-item>
            <ion-button
              fill="clear"
              color="primary"
              (click)="showInformationToggle()"
            >
              {{ showInformationText }}
              <ion-icon slot="end" [name]="showInformationIcon"></ion-icon>
            </ion-button>
          </ion-item>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="showInformation">
        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Profile Description</ion-label>
              <ion-textarea
                name="profileDescription"
                [(ngModel)]="userProfile.profileDescription"
              ></ion-textarea>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">dob</ion-label>
              <ion-datetime
                name="dob"
                [(ngModel)]="userProfile.dob"
              ></ion-datetime>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input
                type="password"
                name="password"
                [(ngModel)]="userProfile.password"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Branch</ion-label>

              <ion-select name="branchId" [(ngModel)]="userProfile.branchId">
                <ion-select-option [value]="0"
                  >Head Office (HO)</ion-select-option
                >
                <ion-select-option [value]="1">Borivali</ion-select-option>
                <ion-select-option [value]="2">Andheri</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item>
              <ion-label position="floating">Staff Role</ion-label>

              <ion-select name="roleId" [(ngModel)]="userProfile.roleId">
                <ion-select-option [value]="1">Admin</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size-sm="6" offset-sm="3">
            <ion-item-group>
              <ion-label>Contact Details</ion-label>
            </ion-item-group>

            <ion-item>
              <ion-label position="floating">Address Line 1</ion-label>
              <ion-input
                type="text"
                name="addressLine1"
                [(ngModel)]="userProfile.contactDetails.addressLine1"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Address Line 2</ion-label>
              <ion-input
                type="text"
                name="addressLine2"
                [(ngModel)]="userProfile.contactDetails.addressLine2"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Landmark</ion-label>
              <ion-input
                type="text"
                name="landmark"
                [(ngModel)]="userProfile.contactDetails.landmark"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">City</ion-label>
              <ion-input
                type="text"
                name="city"
                [(ngModel)]="userProfile.contactDetails.city"
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">State</ion-label>

              <ion-select
                name="state"
                [(ngModel)]="userProfile.contactDetails.state"
              >
                <ion-select-option value="MAH">Maharastra</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Country</ion-label>
              <ion-select
                name="country"
                [(ngModel)]="userProfile.contactDetails.country"
              >
                <ion-select-option value="India">India</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Pincode</ion-label>
              <ion-input
                type="text"
                name="pincode"
                [(ngModel)]="userProfile.contactDetails.pincode"
              ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ng-container>

      <ion-row>
        <ion-col size-sm="6" offset-sm="3">
          <ion-button expand="block" color="primary" (click)="save()">
            SAVE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>

  <app-profile-skeleton *ngIf="!userProfile"></app-profile-skeleton>
</ion-content>
