<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="save()">
        <ion-icon name="checkmark" color="primary" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <profile-edit
    *ngIf="userProfile$ | async as userProfile"
    [userProfile]="userProfile"
    [userProfileForm]="userProfileForm"
    [userProfileTitle]="userProfileTitle$ | async">
  </profile-edit>

  <app-profile-skeleton
    *ngIf="(userProfile$ | async) === null">
  </app-profile-skeleton>
</ion-content>
